@CHARSET "US-ASCII";

.formtable {
	width: 600px;
	padding: 10px;
	border: 1px solid blue;
}

input[type=text] {
	width: 250px;
	
}

input[type=password] {
	width: 250px;
	
}

textarea {
	width: 250px;
	height: 300px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}
.notify {
	font-size: small;
	color: blue;
	margin-left: 10px;
}
.message {
	font-size: small;
	color: green;
	margin-left: 10px;
}
.valid {
	font-size: small;
	color: green;
	margin-left: 10px;
}

table.offers {
	padding: 20px;
	border: 1px solid gray;
}

p.error {
	font-size: medium;
}

div.footer {
	font-size: small;
	color: gray;
}

div.content {
	position: relative;
	padding: 40px;
}

div.header {
	position: relative;
	text-align: center;
	width: 100%;
	height: 40px;
	background-color: red;
}

a.login {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
}

a.title {
	color: white;
	font-size: 35px;
}

input.delete {
	border: 1px solid red;
}
